@import "src/scss/variables";

.card {
  min-width: 200px;
  width: 100%;
  box-shadow:0 0 5px #fff,0 0 8px #fff,0 0 12px #fff,0 0 15px blue,0 0 25px blue;
  display: inline-block;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  transition: 0.5s;
  box-sizing: border-box;

  &--clickable {
    &:hover {
      box-shadow:0 0 5px #fff,0 0 8px #fff,0 0 12px #fff,0 0 15px red,0 0 25px red;
      cursor: pointer;
    }
  }

  .card__title {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: $brown;
  }
}
