.character {
  display: flex;

  .character__img {
    margin-right: 50px;
  }

  .character__info {
    .character__info-row {
      margin-bottom: 25px;
      display: flex;
    }

    .character__info-label {
      font-weight: bold;
      display: inline-block;
      margin-right: 45px;
      width: 100px;
    }

    .character__info-value {
      display: inline-block;
      color: red;

      ul {
        list-style: none;
        padding: 0;

        .character__info-list-item {
          display: inline-block;
          padding: 10px;
          text-align: center;
          min-width: 100px;

          img {
            height: 100px;
          }
        }
      }
    }
  }
}
