<app-card cardTitle="CHARACTER INFO">
  <div class="character">
    <div class="character__img">
      <img [src]="imgUrl" [alt]="character?.name" />
    </div>

    <div class="character__info">
      <!-- Name -->
      <div class="character__info-row">
        <div class="character__info-label">Name:</div>
        <div class="character__info-value">{{ character?.name }}</div>
      </div>

      <!-- Species -->
      <div class="character__info-row" *ngIf="species.length > 0">
        <div class="character__info-label">Species:</div>
        <div class="character__info-value">
          <ul>
            <li *ngFor="let specie of species" class="character__info-list-item">
              <img class="" [src]="getSpecieImg(specie.url)" [alt]="specie.name" />
              <div>
                {{ specie.name }}
              </div>
            </li>
          </ul>
        </div>
      </div>

      <!-- Movies -->
      <div class="character__info-row" *ngIf="movies.length > 0">
        <div class="character__info-label">Movies:</div>
        <div class="character__info-value">
          <ul>
            <li *ngFor="let movie of movies" class="character__info-list-item">
              <img class="" [src]="getMovieImg(movie.url)" [alt]="movie.title" />
              <div>
                {{ movie.title }}
              </div>
            </li>
          </ul>
        </div>
      </div>

      <!-- Spaceships -->
      <div class="character__info-row" *ngIf="starships.length > 0">
        <div class="character__info-label">Spaceships:</div>
        <div class="character__info-value">
          <ul>
            <li *ngFor="let starship of starships" class="character__info-list-item">
              <img class="" [src]="getStarshipImg(starship.url)" [alt]="starship.name" />
              <div>
                {{ starship.name }}
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</app-card>
