

.loading-container {
  position: absolute;
  width: 100%;
  height: calc(100% - 120px);
  display: flex;
  align-items: center;
  top: 100px;
  left: 0;
  background-color: #000;
  z-index: 9999;

  .loading {
    position: relative;
    margin: auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    --colorA: blue;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 50%;
        border-top: 5px solid #fff;
        filter:
            drop-shadow(0 0 2px var(--colorA))
            drop-shadow(0 0 5px var(--colorA))
            drop-shadow(0 0 10px var(--colorA))
            drop-shadow(0 0 20px var(--colorA));
        animation: rotate 3s infinite linear;
    }

    &::after {
        --colorA: red;
        animation-delay: -1.5s;
    }

    .loading-text {
      color:#fff
    }
  }

  @keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
  }

}
