footer {
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: center;
  box-sizing: border-box;
  bottom: 0;
  width: 100%;

  .footer__text {
      font-family: "Russo_One", Arial, Helvetica, sans-serif;
      color: #FFE81F;
      font-size: 0.7em;
  }
}
