@import "src/scss/variables";

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-items: auto;
  gap: 15px;

  .filter {
    flex-grow: 1;
    flex: 1 1 0px;

    .filter__title {
      color: $yellow;
      margin-bottom: 10px;
    }
  }
}
