<div class="filters">
  <!-- Movie filter -->
  <div class="filter">
    <div class="filter__title">Filter by Movie</div>
    <ng-select
      [multiple]="true"
      [closeOnSelect]="false"
      [searchable]="false"
      placeholder="Select Movies"
      (change)="onMovieFilterChange($event)"
    >
      <ng-option *ngFor="let movie of movies" [value]="movie.characters">
        {{ movie.title }}</ng-option
      >
    </ng-select>
  </div>

  <!-- Specie filter -->
  <div class="filter">
    <div class="filter__title">Filter by Specie</div>
    <ng-select
      [multiple]="true"
      [closeOnSelect]="false"
      [searchable]="false"
      placeholder="Select Species"
      (change)="onSpecieFilterChange($event)"
    >
      <ng-option *ngFor="let specie of species" [value]="specie.people">
        {{ specie.name }}</ng-option
      >
    </ng-select>
  </div>

  <!-- Birth year filter -->
  <div class="filter">
    <div class="filter__title">Birth year from</div>
    <ng-select
      appearance="outline"
      [searchable]="false"
      [(ngModel)]="minYear"
      (change)="filterFromYear($event)"
      placeholder="From"
    >
      <ng-option *ngFor="let year of birthYears" [value]="year">{{
        getYear(year)
      }}</ng-option>
    </ng-select>
  </div>
  <div class="filter">
    <div class="filter__title">Birth year to</div>
    <ng-select
      appearance="outline"
      [searchable]="false"
      [(ngModel)]="maxYear"
      (change)="filterToYear($event)"
      placeholder="To"
    >
      <ng-option *ngFor="let year of birthYears" [value]="year">{{
        getYear(year)
      }}</ng-option>
    </ng-select>
  </div>
</div>
