@import "src/scss/variables";

header {
  display: flex;
  align-items: center;
  padding: 25px 0;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
  background: #000;
  z-index: 100;

  .header__logo {
      font-family: "Russo_One", Arial, Helvetica, sans-serif;
      font-size: 20px;
      color: $yellow;
      font-size: 3em;
  }
}
