.characters-container {
  position: relative;
  .characters-filter {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    background: #1b1a1a;
    padding: 25px 50px;
    box-sizing: border-box;
  }
  .characters {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 100px;

    .character {
      text-align: center;
      flex: 1 1 1px;

      &--placeholder {
        min-width: 200px;
      }

      .character__image {
        height: 200px;
      }
    }
  }
}
