<div class="characters-container">
  <div class="characters-filter">
    <app-character-filter
      (onFilter)="filterCharacters($event)"
      [minBirthYear]="minBirthYear"
      [maxBirthYear]="maxBirthYear"
      [birthYears]="birthYears"
    ></app-character-filter>
  </div>

  <div class="characters">
    <app-card
      *ngFor="let character of characters"
      class="character"
      [clickable]="true"
      [cardTitle]="character.name"
      [routerLink]="['/characters/', this.getIdFromUrl(character.url)]"
    >
      <img class="character__image" [src]="getCharacterImg(character.url)" />
    </app-card>

    <div class="character character--placeholder"></div>
    <div class="character character--placeholder"></div>
    <div class="character character--placeholder"></div>
    <div class="character character--placeholder"></div>
  </div>
</div>

