@import "~@ng-select/ng-select/themes/default.theme.css";

@font-face {
  font-family: "Russo_One";
  src: local("Russo_One"), url(./assets/fonts/Russo_One/RussoOne-Regular.ttf) format("opentype");
}

* {
  margin: 0;
  padding: 0;
  font-family: "inter", "Segoe UI", Tahoma, Geneva, Verdana, FontAwesome,
    sans-serif;
}

body {
  background-color: #000;
}
